

.header-nav a {
    color: #ececec; 
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s; 
}



.header-nav a:hover {
    color: rgb(56, 218, 247); 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding: 0 20px;
    
}

.header-logo {
    flex: 1;
}

.header-logo svg {
    fill: white;
}

.header-nav {
    flex: 2;
    display: flex;
    justify-content: space-around;
    
}




.home-section {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 100px 0; 
    text-align: center;
    margin-top: 20px; 
}

.home-content h1 span {
    color: #54ACC9; 
}


.home-content {
    color: white;
}

.home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    line-height: 1.5;
}
