/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* Estilos del encabezado */
header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos del botón de hamburguesa */
.menu-toggle {
    cursor: pointer;
}

/* Estilos del menú */
.menu {
    display: none;
}

/* Estilos de la lista del menú */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Estilos de los elementos de la lista del menú */
.menu ul li {
    padding: 10px 0;
}

/* Estilos de los enlaces del menú */
.menu ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos al pasar el ratón por encima de los enlaces del menú */
.menu ul li a:hover {
    text-decoration: none;
    color: rgb(56, 218, 247);
}

/* Estilos para mostrar el menú cuando el input checkbox está marcado */
#menu-toggle:checked + .menu {
    display: flex; /* Cambiar display a flex para mostrar el menú como una lista */
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar elementos horizontalmente */
}

/* Estilos de la sección principal */
.home-section {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 100px 0; 
    text-align: center;
    margin-top: 20px; 
}

/* Estilos del contenido de la sección principal */
.home-content {
    color: white;
}

/* Estilos del título de la sección principal */
.home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos del texto de la sección principal */
.home-content p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos de la imagen de fondo */
.background-image {
    position: relative;
    height: 400px; 
    background-image: url('edit.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px; 
}

/* Estilos para la sección "Sobre mí" */
.main .sobre-mi {
    min-height: 100vh;
    padding: 0rem 0;
    background: #000000;
    color: #000000;
    margin-bottom: 0rem;
}

/* Estilos del contenedor del texto en la sección "Sobre mí" */
.main .sobre-mi .contenedor-sobre-mi .texto {
    padding: 1.5rem 0;
    background: #101010;
    color: red;
    font-family: monospace, Arial;
    width: 70%;
    min-height: 27.5rem;
    margin: 0 auto;
    border-radius: 0.625rem;
}

/* Estilos del título en la sección "Sobre mí" */
.main .sobre-mi .contenedor-sobre-mi .titulo {
    margin-bottom: 1rem;
}

/* Estilos de la descripción en la sección "Sobre mí" */
.main .sobre-mi .contenedor-sobre-mi .descripcion {
    color: grey;
    font-weight: 100;
    line-height: 1.5;
}

/* Estilos del texto en la sección "Sobre mí" */
.main .sobre-mi .contenedor-sobre-mi .texto p {
    width: 90%;
    margin: 0 auto;
}
